body {
    font-family: monospace;
}

header {
    text-align: center; 
    margin:15px 0px 40px 0px;
}

header p{
    font-size: 18px;
}

#alertsContainer{
    margin-left:50px; 
    width:400px; 
    margin-bottom: -10px;
}

#winningAlert{
    text-align: center;
    margin-bottom: 5px; 
    display: none;
}

#waitingAlert{
    margin-bottom: 5px; 
    display: none;
}

#scoreAlert{
    margin-bottom: 5px;
    font-size: 15px; 
}

#settings-box{
    padding:60px 0px 0px 50px;
}
